/* CSS for the main page*/

.instructions{
  max-width: 30em;
  border: 1px solid #aaa;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

/* Editable */

/* It is important in this style that the
   border + padding is always equal so that the size of the component
   is constant. */

.editable{
  border: none;
  padding: 4px;
  outline-width: 0;
}

.editable:focus, .editable:hover{
  border: 2px solid #4682b4;
  padding: 2px;
  border-radius: 5px;
}

/* Table views */

.table{
  margin: 1em;
  margin-right: 5em;
  display: inline-block;
}


/* SVG views.*/

.bar-chart{
  margin: 1em;
}

.bar-axis{
  stroke: #999;
}

.bar-name, .bar-value{
  font-size: 7;
}

.bar-name{
  fill: rgba(0, 0, 0, 1);

}

.bar-graph{

}

.bar-value{
  /* This choice of fill-color contrasts nicely with the bar,
  however it is pretty much invisible on a white background,
  so feel free to change it.*/
  fill: #fff8dc;
}

.bar{
  fill: #4682b4;
}
