.instructions{
  max-width: 30em;
  border: 1px solid #aaa;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.table{
  margin: 1em;
  margin-right: 5em;
  display: inline-block;
}

.bar-axis{
  stroke: #999;
}

.bar-graph{

}

.bar{
  fill: #4682b4;
}

.bar-name, .bar-value{
  font-size: 7;
}

.bar-name{
  fill: rgba(0, 0, 0, 1);

}

.bar-chart{
  margin: 1em;
}

.bar-value{
  fill: #fff8dc;
}
