/* CSS for the main page*/


body{
  font-family: sans-serif;
}

.instructions{
  max-width: 30em;
  border: 2px solid #aaa;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

/* Editable */

/* It is important in this style that the
border + padding is always equal so that the size of the component
is constant. */

.editable{
  border: none;
  padding: 4px;
  outline: none;
  border-radius: 5px;
}

.editable:focus, .editable:hover{
  border: 2px solid #4682b4;
  padding: 2px;
}

/* Table views */

.table, .edit-table{
  margin: 1em;
  margin-right: 5em;
  display: inline-block;
}

.table{
  color: #fff;
}

.table > tbody > tr:hover > td{
  background-color: #66a2d4;
}

.table > tbody > tr > td, .table > thead > tr > th{
  background-color: #4682b4;
  padding: 0.4em;
}

.table > thead > tr > th {
  padding: 0.8em;
  background-color: #165284;
}

/* Add Another */

button.add {
  background-color: #4682b4;
  color: #fff;
  border: 2px solid #165284;
  border-radius: .5em;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
}

button.add:hover, button.add:focus{
  background-color: #165284;
  border: 2px solid #4682b4;
}

/* SVG views.*/

.bar-chart{
  margin: 1em;
}

.bar-axis{
  stroke: #999;
}

.bar-name, .bar-value{
  font-size: 7;
}

.bar-name{
  fill: rgba(0, 0, 0, 1);
}

.bar-value{
  /* This choice of fill-color contrasts nicely with the bar,
  however it is invisible on a white background
  (which if the value is near-zero it is)
  so feel free to change it.*/
  fill: #fff;
}

.bar{
  fill: #4682b4;
}


/* HTML bar chart */

.html-bar-table{
  display: table;
  margin: 1em;
}

.html-bar-body{
  display: table-row-group;
}

.html-bar-row{
  display: table-row;
}

.html-bar-first {
  display: table-cell;
  white-space: nowrap;
  padding: 0em 0em;
  border-right: solid #999;
  text-align: right;
}

.html-bar-first > input{
  text-align: right;
}

.html-bar-second{
  display: table-cell;
  width: 100%;
}

.html-bar {
  background-color: #4682b4;
  color: #fff;
  margin: 1px 0;
  padding: .2em;
  transition: width 1s;
}

.html-bar > input.editable{
  background-color: #4682b4;
  color: #fff;
}

.html-bar > input.editable:focus, .html-bar > input.editable:hover{
  border: 2px solid #fff;
  padding: 2px;
}

.html-bar:hover, .html-bar:hover > input.editable{
  background-color: #66a2d4
}
